.card {
  width: 100%;
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition-duration: .1s;
  margin-bottom: 2rem;
  &:hover {
    text-decoration: none;
    transform: scale(1.01);
    transform-origin: 50% 100%;
  }

  .imageContainer {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(var(--wgg-clr-dark-rgb), .3);
    z-index: 1;
  }

  .cardBody {
    z-index: 2;
    position: relative;
    margin-inline: 15px;
    box-shadow: 0 0 25px rgba(var(--wgg-clr-dark-rgb), .2);
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}